.container {
  position: relative;
  padding: 2em;
  box-sizing: border-box;
  border-radius: 1em;
  overflow: hidden;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.flex-settings-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-buttons{
  display: flex;
  align-items: center;
  gap: 0.5em;
}