<div style="margin: 2em">
  <div class="simple-header">
    <h2>Channel Dashboard</h2>
    <button mat-raised-button [mat-menu-trigger-for]="widgetMenu">
      <mat-icon>add_circle</mat-icon>Add Widget
    </button>

    <mat-menu #widgetMenu="matMenu">
      @for (widget of store.widgetsToAdd(); track widget.id) {
        <button mat-menu-item (click)="store.addWidget(widget)">
          {{ widget.label }}
        </button>
      } @empty {
      <button mat-menu-item> Empty </button>
    }
    </mat-menu>
  </div>

  <div class="app-widget-grid">
    @for (widget of store.addedWidgets(); track widget.id) {
      <app-widget [data]="widget"></app-widget>
    }
  </div>
</div>
