.simple-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 2em;
}

button {
  color: #ffffff !important;
  background: #eea301 !important;
}
.app-widget-grid {
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  column-gap: 1em;
  row-gap: 1em;
  padding-top: 1em;
}
